<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>FinalM5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SrvInicio</display-name>
    <servlet-name>SrvInicio</servlet-name>
    <servlet-class>controller.SrvInicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvInicio</servlet-name>
    <url-pattern>/SrvInicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvLogin</display-name>
    <servlet-name>SrvLogin</servlet-name>
    <servlet-class>controller.SrvLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvLogin</servlet-name>
    <url-pattern>/SrvLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvContacto</display-name>
    <servlet-name>SrvContacto</servlet-name>
    <servlet-class>controller.SrvContacto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvContacto</servlet-name>
    <url-pattern>/SrvContacto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvCerrarSesion</display-name>
    <servlet-name>SrvCerrarSesion</servlet-name>
    <servlet-class>controller.SrvCerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvCerrarSesion</servlet-name>
    <url-pattern>/SrvCerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvCrearCapacitacion</display-name>
    <servlet-name>SrvCrearCapacitacion</servlet-name>
    <servlet-class>controller.SrvCrearCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvCrearCapacitacion</servlet-name>
    <url-pattern>/SrvCrearCapacitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvCrearUsuario</display-name>
    <servlet-name>SrvCrearUsuario</servlet-name>
    <servlet-class>controller.SrvCrearUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvCrearUsuario</servlet-name>
    <url-pattern>/SrvCrearUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvListarUsuario</display-name>
    <servlet-name>SrvListarUsuario</servlet-name>
    <servlet-class>controller.SrvListarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvListarUsuario</servlet-name>
    <url-pattern>/SrvListarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvListarCapacitacion</display-name>
    <servlet-name>SrvListarCapacitacion</servlet-name>
    <servlet-class>controller.SrvListarCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvListarCapacitacion</servlet-name>
    <url-pattern>/SrvListarCapacitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvLoginAdmin</display-name>
    <servlet-name>SrvLoginAdmin</servlet-name>
    <servlet-class>controller.SrvLoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvLoginAdmin</servlet-name>
    <url-pattern>/SrvLoginAdmin</url-pattern>
  </servlet-mapping>
</web-app>